body {
    font-size: $font_size_body;
    font-family: ubuntu;
}
.ed-container {
    max-width: $max_width;
}
input {
    border:none;
    border: 1px solid #AAA;
    padding-left: 1em;
    line-height: 2em;
}

.content {
    padding: 0;
    width: auto;
}
