.content {
    margin: 0 auto;
    padding: 1em;
    width: 80%;
    min-width: 12em;
}

.item {
    background: #888;
    color: white;
    padding: 1em;
    cursor: pointer;
}

.cont-item {
    padding: 1em;
    border: 1px solid #AAA;
}
