.alertas {
    color: white;
    font-weight: bold;
    background: red;
    font-size: 0.8rem;
    height: 1rem;
    padding: 0;
    padding-left:  6rem;
}

.cont-content {
    padding: 0;
}

.content {
    margin-left: 6rem;
    width: 100%;
}

.cont-pestanas {
    padding: 0;
    background: $background_menu_seccion;
    height: 2em;
    line-height: 2em;
    text-align: center;
    box-shadow: 0 1px 5px #AAA;
}
.pestana {
    color: #FFF;
    background: $background_menu_seccion;
    width: 12em;
    height: 100%;
    cursor: pointer;
    &:hover {
        border-bottom: 2px solid white;
    }
}
.pest-activa {
    font-weight: bold;
    border-bottom: 2px solid white;
    &:hover {
        border-bottom: 3px solid white;
    }
}

form {
    margin: 1em;
    padding: 1em;
}

.search {
    height: 2rem;
}

.cont-item {
    max-width: 64rem;
}

.head-item {
    color: white;
    margin-top: 1rem;
    background: $background_menu_lateral;
    border-radius: 3px 3px 0 0;
    padding: 0;
    input, button {
        line-height: 1rem;
        height: 2rem;
        border-radius: 3px;
    }
    input[type="text"] {
        background: rgba(white, 0.2);
        width: 33%;
    }
}
.content-item {
    width: 100%;
    height: 12rem;
    background: white;
    box-shadow: 0 0 1em #AAA;
    border-radius: 0 0 3px 3px;
}

thead {
    border-bottom: 2px solid #999;
}
th, td {
    padding: 0.5rem 1rem;
}
.item-ctrl {
    margin-top: 1em;
}

.btn {
    color: #333;
    background: #DDD;
    border:1px solid #AAA;
    border-radius: 3px;
    line-height: 1.8em;
    padding: 0 0.8em;
    box-shadow: 1px 1px 2px #AAA;
    font-size: 0.8em;
    font-weight: bold;
    display: inline-block;
    &:hover {
        box-shadow: 1px 1px 3px #999;
    }
    &:active {
        border: 1px solid transparent;
        box-shadow: 0 0 1px #AAA;
    }
}

.btn-add {
    color: white;
    background: green;
    border: 1px solid darken(green, 10);
    padding: 0 3em 0 0em;
    &:before {
        padding: 0em 1em 0.5em 1em;
    }
}

.btn-danger {
    color: white;
    background: red;
    border: 1px solid darken(red, 10);
}
.btn-warning {
    background: yellow;
    border: 1px solid darken(yellow, 10);
}
.btn-small {
    font-size: 0.6em;
    padding: 0 0.5em;
}
.btn-main {
    color: white;
    background: $background_menu_lateral;
    border:1px solid darken($background_menu_lateral, 10);
}
.btn-add-small {
    display: initial;
    font-size: 0.8em;
    color:white;
    background-color: green;
    border: 1px solid darken(green, 10);
    padding: 0.3em 0.4em;
}
.btn-delete-small {
    display: initial;
    font-size: 1.2em;
    color:white;
    background-color: red;
    border: 1px solid darken(red, 10);
    padding: 0em;
}
.btn-file {
    width: 8em;
    position:relative;
    border-radius: 3px;
    &:before, &:after {
        color: white;
        position:absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &:before {
        border-radius: 3px;
        border: 1px solid blue;
        box-shadow: 1px 1px 1px 0px #AAA;
        background: #ACF;
        padding: 0.3em 0.6em;
        z-index: 5;
    }
    &:after {
        content: 'Examinar';
        padding: 0.2em 2.3em;
        z-index: 10;
    }
}
