header {
    background: $background_menu_seccion;
    height: 4em;
    margin: 0;
    padding: 0;
    z-index: 500;
}
.menu {
    height: 100%;
    width: 14rem;
    font-size: 0.8em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        a {
            color: white;
        }
    }
}

.cont-form-busqueda{
    height: 100%;
    width: 12em;
}

.cont-menu-opciones {
    color: $gris_claro;
    height: 100%;
    font-size: 1.8em;
    span {
        margin-left: 0.5em;
        cursor: pointer;
    }
}
.cont-bread {
    height: 100%;
    font-size: 0.8em;
    color: $gris_claro;
    .bread {
        padding-bottom: 0.5em;
    }
}
