header {
    background: $background_menu_seccion;
    height: 3rem;
    margin: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 500;
    position: relative;
}
.cont-menu {
    margin: 0;
}


.menu {
    background: darken($background_menu_seccion, 10);
    width: 6rem;
    height: 3rem;
    cursor: pointer;
    position: fixed;
    &:hover {
        background: darken($background_menu_seccion, 15);
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        a {
            color: white;
        }
    }
}
.cont-bread-notifications {
    margin-left: 8em;
}

.cont-form-busqueda{
    height: 100%;
    width: 12em;
}

.cont-notifications {
    color: $gris_claro;
    height: 100%;
    span {
        margin-left: 0.5em;
        cursor: pointer;
        &:hover {
            color: white;
        }
    }
}
.cont-bread {
    height: 100%;
    color: white;
    .bread {
        display: inline-block;
        padding: 0 1rem;
        cursor: pointer;
    }
    input[type="text"] {
        color:white;
        background: rgba(255,255,255,0.5);
        width: 32em;
    }
}

.cont-tools {
    margin: 1rem 0;
    padding: 1rem 0;
}
