.menu-lateral {
    font-size: $font_size_menu_lateral;
    background: $background_menu_lateral;
    height: 100vh;
    padding: 0;
    width: 6rem;
    position: fixed;
    left: 0;
    margin-top: 3.5rem;
    nav ul{
        .menu-l-activo {
            font-weight: bold;
            background: $background_body;

            a {
                color: $gris_oscuro;
            }
        }
        li {

            width: 100%;
            line-height: 3em;
            text-align: center;
            height: 3em;

            a {
                display: block;
                height: 100%;
                width: 100%;
            }
            &:hover {
                background: $gris_claro;

            }
        }
    }
}
