$max_width : 2100px;

$font_family_body : "Segoe UI", Tahoma;
$font_family_menu : Ubuntu, 'segoe ui';
$font_family_table: Verdana;
$font_size_body : 14px;
$font_size_table: 12px;

$color_fondo : #E6E6E6;

$background_inputs : #FFFFFF;
$background_menu_lateral : #727B90;
$background_menu_seccion : #295278;
$background_body : #E6E6E6;
$border_inputs: #606060;

$color_letra_1 : #111111;
$color_letra_2 : #F0F0F0;

$rojo: #ed3951;
$gris_oscuro: #50515c;
$turquesa: #00e1e8;
$verde_azul: #00b8ba;
$gris_claro: #aab5b3;
$verde_claro: #80a482;
$rojo_gris: #bda4a7;
$verde_medio: #537167;
$verde_oscuro: #15261c;
$beige: #dad3c3;

$font_size_menu_lateral : 0.8rem;
