.cont-content.ed-container

    .cont-pestanas.ed-item
        .ed-container
            .pestana.ed-item.pest-activa EMPLEADO
            .pestana.ed-item NOMINA
            .pestana.ed-item USUARIO
            
    .ed-item.cont-item
        .ed-container.cont-tools
                
            .ed-item.head-item
                
                .ed-container
                    .ed-item.movil-cross-center.justify
                        h3 CONCEPTO
                        input(type="text", placeholder="Buscar")
                        button.btn-add + Crear
            .ed-item.content-item
                table 
                    thead
                        tr
                            th Algo
                            th Otro Algo
                            th Tools
                            th Detalles
                            th Mas 
                            th -
                    tbody
                        tr
                            td Algo con max texto
                            td Otro Algo con mucho mas texto...
                            td Tools otros osf
                            td Marco
                            td Mas stssd 
                            td 
                                a(href="#") Editar 
                                a(href="#") Eliminar 
                                
                    
                
    
    
        form 
            input(type="text")
            input(type="file")
            input(type="submit", value="Enviar").boton.btn-principal
            button.boton.btn-danger Eliminar
            a(href="#").boton.btn-accion Otro
