.cont-content.ed-container

    .cont-pestanas.ed-item
        .ed-container
            .pestana.ed-item.pest-activa EMPLEADO
            .pestana.ed-item NOMINA
            .pestana.ed-item USUARIO
