.cont-content.ed-container

    .cont-pestanas.ed-item
        .ed-container
            .pestana.ed-item.pest-activa EMPLEADO
            .pestana.ed-item NOMINA
            .pestana.ed-item USUARIO
            
    .ed-item.cont-item
        .ed-container.cont-tools
                
            .ed-item.head-item
                
                .ed-container
                    .ed-item.movil-cross-center.justify
                        h3 CONCEPTO
                        input(type="text", placeholder="Buscar")
                        button.btn-add + Crear
            .ed-item.content-item
                table 
                    thead
                        tr
                            th Algo
                            th Otro Algo
                            th Tools
                            th Detalles
                            th Mas 
                            th -
                    tbody
                        tr
                            td Algo con max texto
                            td Otro Algo con mucho mas texto...
                            td Tools otros osf
                            td Marco
                            td Mas stssd 
                            td 
                                a(href="#") Editar 
                                a(href="#") Eliminar 
                                
                    
                
    
    
        .ed-container
            .ed-item.movil-20.item-ctrl
                a(href="#").btn Acceder
            .ed-item.movil-20.item-ctrl
                a(href="#").btn.btn-add.icon-plus Add
            .ed-item.movil-20.item-ctrl
                a(href="#").btn.btn-danger Delete
            .ed-item.movil-20.item-ctrl
                a(href="#").btn.btn-warning Peligro
            .ed-item.movil-20.item-ctrl
                a(href="#").btn.btn-small MOSTRAR
            .ed-item.movil-20.item-ctrl
                a(href="#").btn.btn-main Hola
            .ed-item.movil-20.item-ctrl
                a(href="#").btn.btn-add-small.icon-plus
            .ed-item.movil-20.item-ctrl
                a(href="#").btn.btn-delete-small.icon-times-circle-o
            .ed-item.movil-20.item-ctrl
                a(href="#").btn-trash
            .ed-item.movil-20.item-ctrl
                a(href="#").btn-dropdowm
            .ed-item.movil-20.item-ctrl
                input(type="file").btn-file.icon-upload
