.cont-content.ed-container

    .cont-pestanas.ed-item
        .ed-container
            .pestana.ed-item.pest-activa EMPLEADO
            .pestana.ed-item NOMINA
            .pestana.ed-item USUARIO
            
    .ed-item
    
        form 
            input(type="text")
            input(type="file")
            input(type="submit", value="Enviar").boton.btn-principal
            button.boton.btn-danger Eliminar
            a(href="#").boton.btn-accion Otro
