nav.menu.ed-item.tablet-cross-center
    ul
        li
            a(href="#") Admin ▼ 
                
.cont-menu.ed-container.justify
    .ed-item.cont-bread-notifications
        .ed-container
            .cont-bread.ed-item.tablet-cross-center.tablet-70
                .bread
                    span.bread-1 Empresa >
                    span.sep-bread
                    span.bread-2 Contrato >
                    span.sep-bread
                    span.bread-3 Concepto >

            
            
                    //input(type="text", placeholder="Buscar")


            .cont-notifications.ed-item.tablet-cross-center.tablet-main-end.tablet-30
                span.icon-email-envelope
                span.icon-three-bars        
                    
                        
