nav.menu.ed-item.tablet-cross-center
    ul
        li
            a(href="#") Admin ▼ 
                
.cont-menu.ed-container.justify
    .ed-item.cont-bread-notifications
        .ed-container
            .cont-bread.ed-item.tablet-cross-center.movil-70
                
                span.bread EMPRESA
                span.sep-bread >
                span.bread CONTRATO 
                span.sep-bread >
                span.bread
                    strong CONCEPTO
                span.sep-bread 
                input(type="text", placeholder="Buscar", value="Buscar")

            .ed-item.movil-20.movil-main-end.movil-cross-center
                button.btn-add + Crear

            .cont-notifications.ed-item.tablet-cross-center.movil-main-end.movil-10
                span.icon-email-envelope
                span.icon-three-bars        
                    
                        
