.cont-menu.ed-container
    nav.menu.ed-item.tablet-15.tablet-cross-center
        ul
            li
                a(href="#") Admin | Cerrar sesión
                
    .cont-bread.ed-item.tablet-cross-end.tablet-55
        .bread
            span.bread-1 Empresa >
            span.sep-bread
            span.bread-2 Contrato >
            span.sep-bread
            span.bread-3 Concepto >

    
    .cont-form-busqueda.ed-item.tablet-20.tablet-cross-center
    
        .form-busqueda
    
            //input(type="text", placeholder="Buscar")


    .cont-menu-opciones.ed-item.tablet-10.tablet-cross-center.tablet-main-center
        span.icon-email-envelope
        span.icon-three-bars        
            
                    
