doctype html5

html(lang='es')
    head
        title Marco Antonio
        meta(charset="utf-8")
        mena(name="viewport" content="width=device-width, user-scalable=no")
        link(rel="stylesheet" href="css/app.css")
        link(href="https://file.myfontastic.com/RRzRK47JHpUv6LmsSg4zmU/icons.css",rel="stylesheet")

    body
        section.main-content.ed-container
            section.alertas.ed-item 
                .ed-container
                    .ed-item.tablet-90 ESTE ES UN MENSAJE DE ALERTA!!!!
                    .ed-item.tablet-10.movil-main-end X
            
            header.ed-item
                include header.jade
                
            section.menu-lateral.ed-item
                
                include menu_lateral.jade
                
            section.content.ed-item
                
                include content.jade
                
            footer.ed-item
                include footer.jade


    
    script(src="js/js.js")
